.topFixedBanner{
    background-image: url(../image/banner.jpg);
    min-height: 500px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay {
    position:absolute;
    min-height:500px;
    width:100%;
    background: rgba(0,0,0,0.6);
}

.topContent{
    margin-top:10rem;
}
.topTitle{
    font-family: 'montserrat', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    font-size:48px;
}
.topSubTitle {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    color: #FFFFFF;
    font-size: 22px;
}
.serviceNameTitles {
color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    font-weight:600;
}
.serviceName{
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight:600;
}

.serviceDescription{
    color: #7f7e7e;
    margin-top: 1rem;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight:400;
}
.serviceCard {
    margin: 5px 5px 5px 5px;
    height: 22rem;
    padding: 60px 30px 60px 30px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.serviceCard:hover {
    box-shadow: 0 0 18px 0 rgba(0, 115, 230, 0.2);
}
.navTitle {
    font-family: 'montserrat', sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 24px;
}

.navTitleScroll {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    font-family: 'montserrat', sans-serif;
    color: #0073E6 !important;
    font-weight: 700;
    font-size: 24px;
}

.navBackground {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00,00,00,0.1) !important;
}

.navBackgroundScroll {
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}

.navItem {
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'montserrat', sans-serif;
    font-weight:400;
    color: #FFFFFF !important;

}
.navItemScroll {
    font-size: 16px;
    text-decoration: none !important;
    font-family: 'montserrat', sans-serif;
    font-weight:400;
    color: #000000 !important;

}

.des{
    font-weight: 400;
    color:#2B2B2B;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.summaryBanner{
    background-image: url(../image/banner.jpg);
    min-height: 350px;
    background-attachment: fixed;
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summaryBannerOverlay {
    position:absolute;
    min-height:350px;
    width:100%;
    background: rgba(0,0,0,0.6);
}
.summarySection{
    margin: 5rem;
}

.countNumber{
    color: #FFFFFF;
    font-family: 'montserrat', sans-serif;
    font-size: 48px;
    font-weight: 6000;
}
.countTitles{
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    font-size: 22px;
    font-weight: 6000;
}
.countSections{
    margin-top: 15%;
}
.cardTitle{
    font-family: 'Raleway', sans-serif;
    color: #000000;
    font-size: 22px;
    font-weight: 600;
}
.cardSubTitle{
    font-family: 'montserrat', sans-serif;
    color:#2B2B2B;
    font-size: 14px;
    font-weight: 400;
}
.iconBullet{
    color: #0073E6;
    font-size: 16px;
}

.workCard{
    margin-top: 20%;
    margin-left: 20%;
    padding: 10px 10px 10px 10px;
    border-radius: 2px;
}

.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.projectCard.hover{
    border-radius: 2px;
    border: none !important;
    margin: 2px 2px 2px 2px;
    box-shadow: 0 0 8px 0 rgba(0, 115, 230, 0.2);
}

.projectCardTitle{
    font-family: 'montserrat', sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 600;
}
.projectCardDesc{
    font-weight: 400;
    color:#2B2B2B;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.projectCardImage{
    width: 100%;
    height: 14vw;
    object-fit: cover;
}
.courseImage {
    width: 100%;
    height: 10vw;
    object-fit: cover;
}
.courseTitle{
    font-family: 'montserrat', sans-serif;
    color:#2B2B2B;
    font-size: 18px;
    font-weight: 600;
}
.courseDesc{
    font-weight: 400;
    color: #000000;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.courseDescLink{
    text-decoration: none;
    color: #0073E6;
    font-size: 18px;
    font-weight: 600;

}
.courseDescLink:hover{
    text-decoration: none;
}
.videoCard{
    margin: 50px auto;
    padding: 3rem 3rem 6rem 3rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.playBtn{
    color: #0073E6;
    font-size: 48px;
    cursor: pointer;

}

.videoTitles{
    color: #0073E6;
    font-size: 22px;
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
}
.videoDesc{
    font-weight: 400;
    color:#2B2B2B;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}
.circleImage{
    margin: 0 auto;
    width: 100px;
    border: 1px solid  #0073E6;
    border-radius: 50%;
}

.footerSection{
    margin-top: 5rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}

.socialLink{
    text-decoration: none;
    color: #0073E6;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}
.socialLink:hover{
    text-decoration: none;
    color:#2B2B2B;
}
.footerLink{
    text-decoration: none;
    color: #7f7e7e;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    
}
.footerLink:hover{
    text-decoration: none;
    color: #0073E6;
   
    
}

.copyrightSection{
    margin-top: 20px;
    padding-top: 15px;
    text-align: center;
    height: 50px;
    text-decoration: none;
    background-color:#0073E6;
    width: 100%;

}
.copyrightText{
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
   
}

.copyrightText:hover{
   color:#2B2B2B;
}
